<main>
    <div class="bodycontent">
        <h1>🧑‍🚀 Hello, namaste!</h1>

        <p>
            Trang này dùng để viết bài chia sẻ và các câu hỏi với trường Năng
            lượng chữa lành
        </p>
        Đây là liên kết đến trang
        <a href="/blog">Blog</a>
    </div>
</main>

<style>
    .bodycontent {
        padding: 5em 10vw 5em 10vw;
    }
</style>
